{% extends "layout.html" %} {% block title %}Verify OTP - ROB Solutions{%
endblock %} {% block content %}
<div class="login-card">
  <h4 style="text-align: center; margin-bottom: 20px">Enter OTP</h4>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }}" style="color: green">
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}

  <form method="POST">
    <div class="form-group">
      <label>Enter OTP sent to your phone</label>
      <input type="text" name="otp" required />
    </div>
    <button type="submit" class="button-primary">Verify</button>
  </form>
</div>
{% endblock %}
